{% load static %}
<!DOCTYPE html>
<html class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

		<!-- Latest compiled and minified CSS -->
		<link href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet">

		<link rel="stylesheet" href="{% static 'CSS/styles.css' %}">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<title>Inicio</title>
	</head>

	<body class="bg d-flex flex-column h-100">
		
		<header>
			<nav class="navbar navbar-expand-lg py-0 navbar-light container-fluid position-fixed">
				<div class="container-fluid">
					<a class="navbar-brand py-2" href="#">
						<img style="width: 60px; height: 70px;" src="{% static 'assets/CASUB.png' %}" alt="" class="d-inline-block align-text-top">
					</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav col d-flex align-items-center h4">
							<li class="nav-item">
							</li>
							<li class="nav-item">
							</li>
							<li class="nav-item">
							</li>
							<li class="nav-item col"></li>
							<li class="nav-item dropdown">
								<a class="nav-link text-white dropdown-toggle" href="" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									RUT: {{ user.username }}
								</a>
								<ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
									<li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<main style="margin-top: 14vh;" class="flex-shrink-0">

			<!-- sidebar -->
			<div class="d-flex flex-column flex-shrink-0 p-3 bg-light position-fixed" style="width: 280px; height: 86vh;">
				
				<hr>
				<ul class="nav nav-pills flex-column mb-auto">
					<li class="nav-item">
						<a href="" class="nav-link active" aria-current="page">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
							Cuotas por pagar
						</a>
					</li>
					<li>
						<a href="" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
							Historial de cuotas
						</a>
					</li>
					<li>
						<a href="" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
							Info. de cuenta
						</a>
					</li>
				</ul>
				<hr>
				
			</div>
			<!-- fin sidebar -->

			<div style="float: right; width: 80%">
				<!-- barra filtradi -->
				<div class="w-100">barra de filtrado</div>

				<!-- listado cuotas -->
				<div style="margin-right: 15px">
					<table class="table table-striped table-hover table-bordered align-middle">
						<thead>
							<tr>
								<td>ID pozo</td>
								<td>Fecha emision</td>
								<td>Valor</td>
								<td>Fecha vencimiento</td>
								<td>Estado</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							{% if cuotas %}
								{% for cuota in cuotas %}
									<tr>
										<td>{{ cuota.fk_idcasub3 }}</td>
										<td>{{ cuota.fechaemicion }}</td>
										<td>{{ cuota.valor }}</td>
										<td>{{ cuota.fechavencimiento }}</td>
										<td>
											{% if cuota.estadocuota == 1 %}
												pagado
											{% else %}
												no pagado
											{% endif %}
										</td>
										<td class="text-center">
											{% if cuota.estadocuota == 0 %}
												<button type="button" class="btn btn-outline-success" id="{{ cuota.idcuota }}" onclick="pagarBtn(this.id)">Pagar</button>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<h1>Error de carga</h1>
							{% endif %}
						</tbody>
						
					</table>
					
				</div>
			</div>

		</main>


		<!-- sripts -->
		<script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>

		{% block js_block %}

			<script>
				function pagarBtn(id) {
					/*document.getElementById(id).innerText = id;*/
				};
			</script>
			
		{% endblock %}
		
	</body>
</html>