{% load static %}
<!DOCTYPE html>
<html class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

		<!-- Latest compiled and minified CSS -->
		<link href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet">

		<link rel="stylesheet" href="{% static 'CSS/styles.css' %}">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<title>Inicio</title>
	</head>

	<body class="bg d-flex flex-column h-100">
		
		<header>
			<nav class="navbar navbar-expand-lg py-0 navbar-light container-fluid position-fixed">
				<div class="container-fluid">
					<a class="navbar-brand py-2" href="#">
						<img style="width: 60px; height: 70px;" src="{% static 'assets/CASUB.png' %}" alt="" class="d-inline-block align-text-top">
					</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav col d-flex align-items-center h4">
							<li class="nav-item">
							</li>
							<li class="nav-item">
							</li>
							<li class="nav-item">
							</li>
							<li class="nav-item col"></li>
							<li class="nav-item dropdown">
								<a class="nav-link text-white dropdown-toggle" href="" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									RUT: {{ user.username }}
								</a>
								<ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
									<li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<main style="margin-top: 14vh;" class="flex-shrink-0">

			<!-- sidebar -->
			<div class="d-flex flex-column flex-shrink-0 p-3 bg-light position-fixed" style="width: 280px; height: 86vh;">
				
				<hr>
					<ul class="nav nav-pills flex-column mb-auto">
						<li class="nav-item">
							<a href="#" class="nav-link active" aria-current="page" id="btnPagar">
								<svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
								Cuotas por pagar
							</a>
						</li>
						<li>
							<a href="#" class="nav-link link-dark" id="btnHistorial">
								<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
								Historial de cuotas
							</a>
						</li>
						<li>
							<a href="#" class="nav-link link-dark" id="btnPerfil">
								<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
								Info. de cuenta
							</a>
						</li>
					</ul>
				<hr style="display: none;" id="barra">
					<div style="display: none;" id="totalDebe">
						<p id="totalDebeText">Total: &nbsp;$</p>
					</div>
					<div style="display: none;" id="totalHist">
						<p id="totalHistText">Total hist: &nbsp;$</p>
					</div>
				<hr>

				<div style="display: none;" class="text-center" id="pagoMultDebe">
					<form action="" method="post">
						{% csrf_token %}
						<button type="submit" class="btn btn-success" value="" name="mybtn" id="btnMultDebe">Pagar seleccionados</button>
					</form>
				</div>

				<div style="display: none;" class="text-center" id="pagoMultHist">
					<form action="" method="post">
						{% csrf_token %}
						<button type="submit" class="btn btn-success" value="" name="mybtn" id="btnMultHist">Pagar seleccionados hist</button>
					</form>
				</div>
				
			</div>
			<!-- fin sidebar -->

			<div style="float: right; width: 80%">
				
				<!-- barra filtrado -->
				<div class="w-100">
					<nav class="navbar navbar-light bg-light">
						<div class="container-fluid">
							<form class="d-flex">
								<input class="form-control me-2" type="search" placeholder="Buscar fecha" aria-label="Search" id="datoBuscado">
								<select style="display: none;" class="form-select form-select-sm" aria-label=".form-select-sm" id="tipoBusqueda">
									<option selected>Todas las fecha</option>
									<option value="1">Fecha de emisión</option>
									<option value="2">Fecha de vencimiento</option>
								</select>
							</form>
						</div>
					</nav>
				</div>
				<!-- fin barra filtrado -->

				<!-- listado cuotas-->
				<div style="margin-right: 15px">

					<!-- por pagar -->
					<table class="table table-striped table-hover table-bordered align-middle" id="porPagar">
						<thead>
							<tr>
								<td>ID pozo</td>
								<td>Fecha emision</td>
								<td>Valor</td>
								<td>Fecha vencimiento</td>
								<td>Estado</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							{% if cuotas %}
								
								{% for cuota in cuotas %}
									{% if cuota.estadocuota == 0 %}
										<tr>
											<td>
												{% if cuota.estadocuota == 0 %}
													<input class="form-check-input" type="checkbox" name="checkPago" value="{{ cuota.idcuota }},{{ cuota.valor }}" id="{{ cuota.idcuota }}">
												{% else %}
													&nbsp;&nbsp;&nbsp;&nbsp;
												{% endif %}
												&nbsp;
												{{ cuota.fk_idcasub3 }}
											</td>
											<td>{{ cuota.fechaemicion }}</td>
											<td>{{ cuota.valor }}</td>
											<td>{{ cuota.fechavencimiento }}</td>
											<td>
												{% if cuota.estadocuota == 1 %}
													pagado
												{% else %}
													no pagado
												{% endif %}
											</td>
											<td class="text-center">
												{% if cuota.estadocuota == 0 %}
													<form action="" method="post">
														{% csrf_token %}												<button type="submit" class="btn btn-outline-success" value="{{ cuota.idcuota }}" name="mybtn">Pagar</button>
													</form>
												{% endif %}
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							{% else %}
								<h1>Error de carga</h1>
							{% endif %}
						</tbody>
						
					</table>
					<!-- fin por pagar -->

					<!-- historial completo -->
					<table style="display: none;" class="table table-striped table-hover table-bordered align-middle" id="histCompleto">
						<thead>
							<tr>
								<td>ID pozo</td>
								<td>Fecha emision</td>
								<td>Valor</td>
								<td>Fecha vencimiento</td>
								<td>Estado</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							{% if cuotas %}
								{% for cuota in cuotas %}
									<tr>
										<td>
											{% if cuota.estadocuota == 0 %}
												<input class="form-check-input" type="checkbox" name="checkHist" value="{{ cuota.idcuota }},{{ cuota.valor }}" id="{{ cuota.idcuota }}">
											{% else %}
												&nbsp;&nbsp;&nbsp;&nbsp;
											{% endif %}
											&nbsp;
											{{ cuota.fk_idcasub3 }}
										</td>
										<td>{{ cuota.fechaemicion }}</td>
										<td>{{ cuota.valor }}</td>
										<td>{{ cuota.fechavencimiento }}</td>
										<td>
											{% if cuota.estadocuota == 1 %}
												pagado
											{% else %}
												no pagado
											{% endif %}
										</td>
										<td class="text-center">
											{% if cuota.estadocuota == 0 %}
												<form action="" method="post">
													{% csrf_token %}												<button type="submit" class="btn btn-outline-success" value="{{ cuota.idcuota }}" name="mybtn">Pagar</button>
												</form>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<h1>Error de carga</h1>
							{% endif %}
						</tbody>
						
					</table>
					<!-- fin historial completo -->
					
				</div>
			</div>

		</main>


		<!-- sripts -->
		<script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>

		{% block js_block %}

			<!-- mostrar listas -->
			<script>
				document.getElementById("btnPagar").addEventListener("click", mostrarPagar);
				document.getElementById("btnHistorial").addEventListener("click", mostrarHistorial);

				function mostrarPagar() {
					$('#btnPagar').addClass('active');
					$('#btnPagar').removeClass('link-dark');

					$('#btnHistorial').removeClass('active');
					$('#btnHistorial').addClass('link-dark');

					$('#btnPerfil').removeClass('active');
					$('#btnPerfil').addClass('link-dark');

					$('#histCompleto').hide();
					$('#porPagar').show();
					$('#pagoMultHist').hide();
					$('#totalHist').hide();

					if($('input[name=checkPago]').is(':checked')) {
						$('#pagoMultDebe').show();
						$('#barra').show();
						$('#totalDebe').show();
					} else {
						$('#pagoMultDebe').hide();
						$('#barra').hide();
						$('#totalDebe').hide();
					}
				}

				function mostrarHistorial() {
					$('#btnHistorial').addClass('active');
					$('#btnHistorial').removeClass('link-dark');

					$('#btnPagar').removeClass('active');
					$('#btnPagar').addClass('link-dark');

					$('#btnPerfil').removeClass('active');
					$('#btnPerfil').addClass('link-dark');

					$('#porPagar').hide();
					$('#histCompleto').show();
					$('#pagoMultDebe').hide();
					$('#totalDebe').hide();

					if($('input[name=checkHist]').is(':checked')) {
						$('#pagoMultHist').show();
						$('#barra').show();
						$('#totalHist').show();
					} else {
						$('#pagoMultHist').hide();
						$('#barra').hide();
						$('#totalHist').hide();
					}
				}
			</script>

			<!-- boton pago multiple (lisado debido) -->
			<script>
				var totalDebe = 0;
				var listaIDdebe = '';

				$('input[name=checkPago]').change(function(){
					if($('input[name=checkPago]').is(':checked')) {
						$('#pagoMultDebe').show();
						$('#barra').show();
						$('#totalDebe').show();
					} else {
						$('#pagoMultDebe').hide();
						$('#barra').hide();
						$('#totalDebe').hide();
					}

					if($(this).is(':checked')) {

						const aux = $(this).val().toString().split(',');
						totalDebe = totalDebe + parseInt(aux[1]);
						$('#totalDebeText').text('total:  $ '+ totalDebe.toString());
						if (listaIDdebe == '') {
							listaIDdebe = aux[0]
						} else {
							listaIDdebe = listaIDdebe + ',' + aux[0]
						}
						$('#btnMultDebe').val(listaIDdebe)
						//$('#totalDebeText').text(listaIDdebe);

					} else {

						const aux = $(this).val().toString().split(',');
						totalDebe = totalDebe - parseInt(aux[1]);
						$('#totalDebeText').text('total:  $ '+ totalDebe.toString());
						if (listaIDdebe.indexOf(','+aux[0]+',') >= 0){
							listaIDdebe = listaIDdebe.replace(','+aux[0]+',',',');
						} else if (listaIDdebe.indexOf(aux[0]+',') >= 0) {
							listaIDdebe = listaIDdebe.replace(aux[0]+',','');
						} else if (listaIDdebe.indexOf(','+aux[0]) >= 0) {
							listaIDdebe = listaIDdebe.replace(','+aux[0],'');
						} else if (listaIDdebe.indexOf(aux[0]) >= 0) {
							listaIDdebe = listaIDdebe.replace(aux[0],'');
						}
						$('#btnMultDebe').val(listaIDdebe)
						//$('#totalDebeText').text(listaIDdebe);

					}
				});
			</script>

			<!-- boton pago multiple (historial completo) -->
			<script>
				var totalHist = 0;
				var listaIDhist = '';

				$('input[name=checkHist]').change(function(){
					if($('input[name=checkHist]').is(':checked')) {
						$('#pagoMultHist').show();
						$('#barra').show();
						$('#totalHist').show();
					} else {
						$('#pagoMultHist').hide();
						$('#barra').hide();
						$('#totalHist').hide();
					}

					if($(this).is(':checked')) {

						const aux = $(this).val().toString().split(',');
						totalHist = totalHist + parseInt(aux[1]);
						$('#totalHistText').text('total:  $ '+ totalHist.toString());
						if (listaIDhist == '') {
							listaIDhist = aux[0]
						} else {
							listaIDhist = listaIDhist + ',' + aux[0]
						}
						$('#btnMultHist').val(listaIDhist)
						//$('#totalHistText').text(listaIDhist);

					} else {
						const aux = $(this).val().toString().split(',');
						totalHist = totalHist - parseInt(aux[1]);
						$('#totalHistText').text('total:  $ '+ totalHist.toString());
						if (listaIDhist.indexOf(','+aux[0]+',') >= 0){
							listaIDhist = listaIDhist.replace(','+aux[0]+',',',');
						} else if (listaIDhist.indexOf(aux[0]+',') >= 0) {
							listaIDhist = listaIDhist.replace(aux[0]+',','');
						} else if (listaIDhist.indexOf(','+aux[0]) >= 0) {
							listaIDhist = listaIDhist.replace(','+aux[0],'');
						} else if (listaIDhist.indexOf(aux[0]) >= 0) {
							listaIDhist = listaIDhist.replace(aux[0],'');
						}
						$('#btnMultHist').val(listaIDhist)
						//$('#totalHistText').text(listaIDhist);

					}
				});
			</script>
			
			<!-- hacer java con name e id de tr -->
			<script>
				/*$('input[name=eFiltro]', 'select[name=eFiltro]').change(function(){
					for (var i = 1; i <= {{ max }}; i++) {
						const nombre = 'tr[name=itemLista' + i + ']';
						const aux = $(nombre).val().toString().split(',');

						if ($('select#tipoBusqueda option:checked').val() == 1) {
							if( !aux[0].includes( $('#fechaBuscada').val() ) ) {
								$(nombre).hide();
							}
						}
					};
				});*/
				$(document).ready(function(){
					$('#datoBuscado').on("keyup", function() {
						var value = $(this).val().toLowerCase();
						$("#porPagar tr").add("#histCompleto tr").filter(function() {
							$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
						});
					});
				});
			</script>
		{% endblock %}
		
	</body>
</html>