{% load static %}
<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Inicio</title>
  </head>

  <body class="bg d-flex flex-column h-100">

    {% for key, valor in transaction.items %}
      {% if key == 'url' %}
         {% firstof valor as url %}
      {% endif %}
      {% if key == 'token' %}
         {% firstof valor as token %}
      {% endif %}
      {% if key == 'value' %}
         {% firstof valor as value %}
      {% endif %}
    {% endfor %}


    <div class="d-flex justify-content-center p-4" style="width: 100%;">
      <div style="background-color: #85C1E9; border-radius: 2rem; margin-top: 7%" class="p-4 border border-5 border-primary">
        <h3 style="margin-top: 10%; font-weight: 700;" class="text-start">Debe acceder a Transbank <br> para continuar la transacción</h3>

        <div>
          <h4 style="margin-top: 15%">Valor a pagar:</h4>
          <h4 style="margin-top: 10%" class="text-center">$ {{ value }}</h4>
        </div>

        <form style="margin-top: 15%" method="POST" action="{{ url }}" class="pure-form pure-form-stacked d-flex justify-content-center">
          {% csrf_token %}
          <fieldset>
            <input type="hidden" name="token_ws" value="{{ token }}">
            <button type="submit" class="btn btn-outline-primary" type="submit">Continuar</button>
          </fieldset>
        </form>
      </div>
    </div>


    <!-- sripts -->
    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
    
  </body>
</html>